@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Identity.DTOs.RegisterApiDto
@using (Html.BeginForm("RegisterApi", "Account", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m=>m.ApplicationName)
        @Html.TextBoxFor(m => m.ApplicationName)
    </div>
    <div>
        @Html.LabelFor(e=>e.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <input type="submit" value="Submit" />
}
