@inherits LayoutComponentBase

<PageTitle>BlazorUI</PageTitle>


<nav class="navbar navbar-light justify-content-between fixed-top">
    <a class="navbar-brand" href="/items">
        <img src="/images/jerry.png" width="30" height="30" class="d-inline-block align-top" />
        Hi, @CurrentUserService.CurrentUser?.LastName
        XXX
    </a>
    <form class="form-inline">
        <NavLink href="Todos" ActiveClass="active-nav">
            <button class="btn btn-outline-success my-2 my-sm-0">Todos</button>
        </NavLink>
        <NavLink href="signup" ActiveClass="active-nav">
            <button class="btn btn-outline-success my-2 my-sm-0">Sign up</button>
        </NavLink>
        <NavLink href="signin" ActiveClass="active-nav">
            <button class="btn btn-outline-success my-2 my-sm-0">Sign In</button>
        </NavLink>
        <NavLink href="about" ActiveClass="active-nav">
            <button class="btn btn-outline-success my-2 my-sm-0">About</button>
        </NavLink>
        <div class="btn btn-outline-success my-2 my-sm-0" @onclick="SignOut">Sign Out</div>
    </form>
</nav>


<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>