@typeparam TItem


<div class="item-element">
    <div class="item-element-main">
        <div class="check-container"></div>
    </div>
    <div class="main-container">
        <div class="main-fragment"></div>
        <div class="position">@Item.Position / X</div>
    </div>
    <div cclass="arrow_container">

    </div>
    <div class="collapse w-100"></div>
</div>