@using HP.Application.DTOs
@inject MediatR.IMediator _mediator
<h1>Showing all valid users</h1>
<div class="container">


    <Grid GridName="Person Information" Items="people">
        <Header>
            <th scope="col">User name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </Header>
        <Row>
            <td>@context.UserId</td>
            <td>@context.FirstName</td>
            <td>@context.LastName</td>
        </Row>
    </Grid>
</div>


@code {
    List<PersonDetailsDto> people = new List<PersonDetailsDto>();
    protected override async Task OnInitializedAsync()
    {
        var test =  await _mediator.Send(new GetPersonList());
        if (test != null)
            people = test.ToList();
    }
}
