@using HP.Application.DTOs
@inject MediatR.IMediator _mediator
<h1>Showing all valid users</h1>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>User name</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in people)
            {
                <tr>
                    <td>@p.UserId</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    IEnumerable<PersonDetailsDto> people = new List<PersonDetailsDto>();
    protected override async Task OnInitializedAsync()
    {
        people =  await _mediator.Send(new GetPersonList());
    }
}
