
<div class="row">
    <a href="@UrlString" @onclick=Toggle class="col-12"> @ActionText</a>
    @if (!Collapsed)
    {
        <div class="col-12 card card-body">
            @ChildContent
        </div>
    }
</div>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string LabelText { get; set; }
    [Parameter] public string ActionText { get; set; }
    [Parameter] public string UrlString { get; set; } = "#";
    public void Toggle()
    {
        Collapsed = !Collapsed;
    }
}
