@inherits LayoutComponentBase

@inject NavigationManager Navigation
<PageTitle>DemoClient</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
         <AuthorizeView>
                <Authorized>
                    <strong>Hello, @context.User.Identity.Name!</strong>
                    <form method="get" action="Logout">
                        <button class="btn btn-link" type="submit">Sign out</button>
                    </form>
                </Authorized>
            <NotAuthorized>
                <a href="login?redirectUri=/">Log in</a>
            </NotAuthorized>
         </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
