@typeparam TItem



<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            @Columns
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Items)
        {
            <tr>
            @Row(item)
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @Footer
        </tr>
    </tfoot>
</table>




@code {
    [Parameter] public string GridName { get; set; }
    [Parameter] public RenderFragment<TItem> Row { get; set;  }
    [Parameter] public RenderFragment? Columns { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }
    [Parameter] public IReadOnlyList<TItem> Items { get; set; }
}
