@using HP.Application.DTOs
@implements IDisposable
<div class="col-8 row">

    @if (_todoService.CompletedTodoItems != null)
    {
        @foreach (TodoItemDto todoItem in _todoService.CompletedTodoItems)
        {
            <TodoItemElement TodoItem="@todoItem" TodoItemRemoved="DeleteTodoSubItem" ItemStatusChanged="ChangeTodoItemStatus"></TodoItemElement>
        }
    }
</div>

@if (UpdateTodoItemDialogOpen)
{
    <TodoItemDialog Title="Update TodoItem" Text="@SelectTodoItem.Id" SelectedTodoItem="@SelectTodoItem" OnClose="@OnUpdateTodoItemDialogClose" TodoItemDialogType=TodoItemDialog.DialogType.Update></TodoItemDialog>
}

