<div onclick="@OnClickTodoElement">
    <div>
        <div class="item-main-container">
            <div class="content-text-top">@Todo.PersonId</div>
            <div >TODO ID : @Todo.TodoId</div>
            <div class="content-text-bottom">@Todo.TodoTitle</div>
            <EditTodoItemButton IsActive=true></EditTodoItemButton>
        </div>
    </div>
</div>
