.validation-container {
    display: flex;
    flex-flow: row
}

.validation-input {
    flex: 1 1 auto;
}

.val-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .val-tooltip .val-tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .val-tooltip:hover .val-tooltiptext {
        visibility: visible;
    }
