.todo-form {
    width: 100%;
    max-width: 330px;
    padding: 12px;
    margin: auto;
}

.todo-validation {
    margin-top : 25px;
}





.details {
        border-bottom: 1px solid #b5bfd9;
        &[open]

    {
        box-shadow: -3px 0 0 #b5bfd9;
    }

    &:first-of-type {
        border-top: 1px solid #b5bfd9;
    }

    & > div {
        padding: 2em 2em 0;
        font-size: .875em;
    }
}

.dl {
    display: flex;
    flex-wrap: wrap;
    dt
    {
        font-weight: 700;
    }

    div {
        margin-right: 4em;
        margin-bottom: 2em;
    }
}

.subtodo-dialog-title {
    background-color: #444;
    color: #fff2cc;
    padding: 1.3rem 2rem;
}

    .subtodo-dialog-title h2 {
        color: white;
        font-size: 1.4rem;
        margin: 0;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        line-height: 1.3rem;
    }


.subtodo-dialog-body {
    flex-grow: 1;
    padding: 0.5rem 3rem 1rem 0;
}

.subtodo-dialog-buttons {
    height: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 0 1rem;
}
