<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Application Testing</title>
    <base href="~/" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/components/sign.css" rel="stylesheet" />
    <link href="css/components/todo.css" rel="stylesheet" />
    <link href="css/components/controls.css" rel="stylesheet" />
    <link href="css/components/ItemElement.css" rel="stylesheet" />
    <link href="css/components/itemCheckBox.css" rel="stylesheet" />
    <link href="css/components/itemsList.css" rel="stylesheet" />
    <link href="_content/HP.GeneralUI/css/styles.css" rel="stylesheet" />
    <link href="BlazorUI.styles.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            @RenderBody()
        </div>
    </div>
</body>

</html>
