<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Application Testing</title>
    <base href="~/" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/components/sign.css" rel="stylesheet" />
    <link href="css/components/todo.css" rel="stylesheet" />
    <link href="css/components/controls.css" rel="stylesheet" />
    <link href="css/components/ItemElement.css" rel="stylesheet" />
    <link href="css/components/itemCheckBox.css" rel="stylesheet" />
    <link href="css/components/itemsList.css" rel="stylesheet" />
    <link href="_content/HP.GeneralUI/css/styles.css" rel="stylesheet" />
    <link href="BlazorUI.styles.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            @RenderBody()
        </div>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="bootstrap/js/dist/dropdown.js"></script>
    <script src="bootstrap/js/dist/collapse.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>
