@page "/"
@using HP.Application.DTOs
@using HP.Application.Queries
@inject MediatR.IMediator _mediator

<PageTitle>Index Page Title</PageTitle>

<div class="container">
    <BlazorUI.Components.Person.DisplayPersonList></BlazorUI.Components.Person.DisplayPersonList>
</div>

<div class="col-lg-4">
    <BlazorUI.Components.Person.EditPersonForm></BlazorUI.Components.Person.EditPersonForm>
</div>

<div>&nbsp;</div>
@code {

}
