@page "/"
@using HP.Application.DTOs
@using HP.Application.Queries
@inject MediatR.IMediator _mediator

<PageTitle>Index Page Title</PageTitle>

<div class="container">
    <BlazorUI.Components.Person.DisplayPersonList></BlazorUI.Components.Person.DisplayPersonList>
</div>

<div class="col-lg-4">
    <BlazorUI.Components.Person.EditPersonForm OnSubmitCallback="@Refresh" ></BlazorUI.Components.Person.EditPersonForm>
</div>

@code {
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public PersonDetailsDto MainUser { get; set; }
    IEnumerable<PersonDetailsDto> people = new List<PersonDetailsDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        MainUser = await _mediator.Send(new GetPersonUserId("hyunbin7303"));
    }
    private async Task LoadData()
    {
        people =  await _mediator.Send(new GetPersonList());
        StateHasChanged();
    }
    public async void Refresh()
    {
        await LoadData();
    }
}
