@page "/items"


<div class="items-container">
    <div class="items-list-container">
        <ItemsList></ItemsList>
    </div>
    <div class="item-edit-container">
        <ItemEdit></ItemEdit>
    </div>
</div>
