@page "/signin"

<div class="sign-form">
    <p class="welcome-text">Hello user - Today is XXX!</p>
    <input type="text" class="sign-input" placeholder="Username" />
    <input type="password" class="sign-input" placeholder="Password" />
    <button class="sign-button" type="submit">Sign In</button>

    <div class="signup">
        <a href="/signup">Sign Up</a>
    </div>
</div>


@code {

}
