@page "/todos"
@inherits TodoBase
@using HP.Application.DTOs

<h3>Todos</h3>
<div class="text-left bg-blue-100">
    <input class="border-4 w-1/3 rounded m-6 p-6 h-8 border-blue-300" @bind-value="TodoIdInput" @bind-value:event="oninput" placeholder="Search by Todo ID" @onkeyup="@(() => SearchChanged(TodoIdInput))" />
</div>
@if (string.IsNullOrEmpty(TodoIdInput))
{
    <DisplayTodoList></DisplayTodoList>
}
else
{
    @if (TodoDetailsFromTodoSearch != null)
    {
        <SearchTodo SearchedTodo="@TodoDetailsFromTodoSearch"></SearchTodo>
    }
}
<div>
    <button type="button" class="btn btn-primary" @onclick="@OnClickGoToCreateTodo">Create new Todo</button>
</div>

@if (DeleteDialogOpen)
{
    <DeleteTodoDialog Title="Are you sure?" Text="Do you want to delete this entry?" OnClose="@OnDeleteDialogClose"></DeleteTodoDialog>
}

