<h1>Showing all valid Persons</h1>
<div class="container">


    <Grid GridName="Person Information" Items="people">
        <Header>
            <th scope="col">User name</th>
            <th scope="col">PersonType</th>
            <th scope="col">PersonType</th>
        </Header>
        <Row>
            <td>@context.DisplayName</td>
            <td>@context.PersonType</td>
            <td>@context.PersonType</td>
        </Row>
    </Grid>
</div>


